.param {
    margin-bottom: 7px;
    line-height: 1.4;
}
.param-inline dt {
    display: inline-block;
}
.param dt {
    margin: 0;
    margin-right: 7px;
    font-weight: 600;
}
.param-inline dd {
    vertical-align: baseline;
    display: inline-block;
}

.param dd {
    margin: 0;
    vertical-align: baseline;
} 

.shopping-cart-wrap .price {
    color: #007bff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
    display: block;
}
var {
    font-style: normal;
}

.media img {
    margin-right: 1rem;
}
.img-sm {
    width: 90px;
    max-height: 75px;
    object-fit: cover;
}
.back-to-shopping {
    padding-top: 20px;
    padding-left: 50px !important;
    padding-right: 50px !important;
}
.total-price {
    max-width: 44%;
    text-align: right !important;
}
@media only screen and (max-width:767) {
    .back-to-shopping {
        padding-top: 20px;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .total-price {
        text-align: left !important;
    }
}
.back-to-shopping-text {
    color: black;
}
.quote-size-section {
    padding-top: 50px;
    
}
.for-btn {
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: right;
}
@media only screen and (max-width:767) {
    .for-btn {
        text-align: left !important;
    }
    .for-btn-col {
        text-align: left !important;
    }
}
.check-out-btn {
    background-color: #007bff;
    color: white;
    border: #007bff;
}