
.checkoutForm input {
    border-radius: 0px;
}

.customForm {
    position: relative;
}

button#check_promocode {
    padding: 12px 24px;
    border-radius: 0px;
	    width: 100%;
}
.orderHead {
    background: #333333;
    color: #fff;
    padding: 20px 15px;
    margin: 0px -15px;
}
.orderBg {
    background: #f0f0f0;
}
form.needs-validation.checkoutForm {
    margin-top: 30px;
}
.orderText {
    margin: 17px;
    font-weight: bold;
}
.summaryHead {
    background: #979797;
    color: #fff;
    padding: 20px 15px;
    margin: 0px -15px;
    text-transform: uppercase;
}
.hostingSummary span {
    float: right;
	color: #28a745;
}
span.feeActual {
    float: right;
}
span#final_price {
    float: right;
	color: #28a745;
	font-weight: 700;
}
.hostingSummary {
    font-size: 17px;
    font-weight: 700;
}
div#promo_code_setion span {
    float: right;
    font-weight: 700;
}
.summaryBg {
    border: solid 1px #979797;
}
.discoutArea {
    font-size: 23px;
    font-weight: 600;
}
.discoutArea span {
    float: right;
}
.paymentTabsArea .nav>li>a {
    color: #000;
    font-size: 14px;
    padding: 12px 14px;
    font-weight: 600;
    border-radius: 0px;
    margin-right: 0px;
    text-transform: uppercase;
    margin: -10px 0px;
}
.paymentTabsArea .nav>li>a:hover,.paymentTabsArea .nav>li>a:focus ,.paymentTabsArea .nav>li.active{
    background: #0b77bf;
    color: #fff;
    -webkit-transition: all 0.2s linear;
}
.paymentTabsArea .nav>li>a:focus,.paymentTabsArea .nav>li.active a {
    background: #0b77bf;
    color: #fff;
        visibility: visible;
}
.imageArea img {
    margin: 0 auto;
}
.summay {
    min-height: 436px;
}