/* NAVIGATION*/
.nav-container {
    background-color: rgba(128, 128, 128, 0.26);
}
.third-row {
    background-color: rgba(128, 128, 128, 0.493);
    padding-top: 10px;
}
.third-row p {
    color: #B8860B;
}
.shop-banner {
    padding-top: 50px 0px 50px 0px;
    color: white;
    background: url(../images/shop.jpg) no-repeat center center / cover;
    background-attachment: fixed;
}
.shop-section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.filter-line-col {
    margin-top: 18px;
    height: 1px;
    background-color: black;
}
.filter-by-line {
    height: 5px;
    background-color: #B8860B;
}
.shop-bar {
    padding: 10px 0px 0px 0px;
    background-color: rgba(128, 128, 128, 0.493);
}
.shop-btn {
    font-size: small;
    background-color: white;
    border-radius: 20px;
    width: 100%;
}
.sorting {
    margin-left: -30px;
}
.sorting-dropdown a:hover{
    background-color: #B8860B;
}
.products-para {
    padding-left: 20px;
}
.card-img {
    background: url(../images/Black-and-Gold-Hand-Bracelet-Oil-Painting-on-Canvas-African-Art-Cuadros-Poster-and-Prints-Wall.jpg_480x480.jpg_Q80.jpg) no-repeat center center / cover;
    padding: 50px 0px 50px 0px;
    height: 100%;
}
.card-img-2 {
    background: url(../images/2017-6-1_pastfuture_image_from_gallery.jpg) no-repeat center center / cover;
    padding: 50 0 50 0px;
    height: 100%;
}
.card-img-3 {
    background: url(../images/213.jpg) no-repeat center center / cover;
    padding: 50 0 50 0px;
    height: 100%;
}
.card-img-4 {
    background: url(../images/512px-Mask\,_Possibly_Kom_peoples\,_Grassfields_region\,_Cameroon\,_Late_19th_to_early_20th_century\,_Wood\,_encrustation.jpg) no-repeat center center / cover;
    padding: 50 0 50 0px;
    height: 100%;
}
.card:hover {
    border: solid 2px white;
}
.checked {
    color: #B8860B;
  }
.card-row {
    padding: 50 0 50 0px;
    background-color: white;
}
.card-row-2 {
    padding: 0 0 50 0px;
    background-color: white;
}
.card-content {
    font-size: 10px;
}
.card-content hr {
    width: 20%;
    margin: 10px auto 10px auto;
}
.price {
    color: #B8860B;
}
.card-btn {
    background-color: #B8860B;
    color: white;
}
.card-btn:hover {
    background-color: #B8860B;
    color: white;
    border: solid 2px #B8860B;
}
@media only screen and (max-width: 600px) {
    .shop-btn {
        font-size: small;
    }
    .sorting {
        margin-left: -50px;
    }
}
@media only screen and (max-width: 480px) {
    .shop-btn {
        font-size: 10px;
    }
}
@media only screen and (max-width: 480px) {
    
}